[submodule "Web/jameswebtelescope/solution/HashPump-partialhash"]
	path = Web/jameswebtelephone/solution/HashPump-partialhash
	url = https://github.com/mheistermann/HashPump-partialhash.git
[submodule "Web/hexrays/solution/DS_Store-parser"]
	path = Web/octrays/solution/DS_Store-parser
	url = https://github.com/hanwenzhu/.DS_Store-parser.git
